#about {
    
}

.intro {
    font-size: 120%;
    max-width: 25vw;
    min-width: 23vw;
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.photo {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
    box-shadow: 5px 5px 10px #888888;
    width: 15vw;
    min-width: 250px;
    height: 15vw;
    min-height: 250px;
}

@media only screen and (min-width: 768px){
.colOne {flex-basis: 8.33%;} /* width works too */
.colTwo {flex-basis: 16.66%;}
.colThree {flex-basis: 25%;}
.colFour {flex-basis: 33.33%;}
.colFive {flex-basis: 41.66%;}
.colSix {flex-basis: 50%;}
.colSeven {flex-basis: 58.33%;}
.colEight {flex-basis: 66.66%;}
.colNine {flex-basis: 75%;}
.colTen {flex-basis: 83.33%;}
.colEleven {flex-basis: 91.66%;}
.colTwelve {flex-basis: 100%;}
}
