.container {
    display: block;
    position: fixed;
    width: 100%;
    /* background-color: cornflowerblue; */
    z-index: 10000;
    overflow: hidden;
}

.buttonGroup {
    position: absolute;
    right: 5%;
    top: 50px;
}

.rotate {
    transform: rotate(90deg);
}

.name {
    color: white;
    font-family: 'Zilla Slab Highlight', cursive;
}

.navbar li {
    font-family: 'Alatsi', sans-serif;
    color: white;
    font-size: 130%;
    text-align: center;
    margin: auto auto;
}

.navbar {
    display: flex;
    list-style-type: none;
    width: 30%;
    margin: auto;
    justify-content: center;
}

.navbar li {
    width: 100px;
    padding-top: 10px;
    text-align: center;
}