.container {
    display: block;
    position: fixed;
    width: 100%;
    background-color: cornflowerblue;
    z-index: 10000;
    overflow: hidden;
}

.name {
    color: white
}

.navbar {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
}

.navbar li {
    width: 100px;
    padding-top: 10px;
    text-align: center;
}

.banner {
    background-color: darkorchid;
    text-align: center;
}