.main {
    display: grid;
    grid-template-columns: 16.66% 83.33%;
    grid-gap: 10px;
    padding: 10px;
    grid-auto-flow: row;
    width: 80%;
    margin: 0 auto;
}

.projectsList div {
    margin-bottom: 10%;
}

.about {
    position: sticky;
    top: 180px;
    align-self: flex-start;
    grid-row: 1;
    font-size: x-large;
}

.about > .active {
    animation: enlarge 0.20s forwards;
}

.publications {
    position: sticky;
    top: 243px;
    align-self: flex-start;
    grid-row: 2;
    font-size: x-large;
}

.publications > .active {
    animation: enlarge 0.20s forwards;
}

.publicationList {
    display: none;
    margin-left: 10%;
}

.publications > .active ~ .publicationList {
    display: block;
}

.conferences > .active {
    border-bottom: 1px solid #333;
}

.research {
    position: sticky;
    top: 306px;
    align-self: flex-start;
    grid-row: 3;
    font-size: x-large;
}

.research > .active {
    animation: enlarge 0.20s forwards;
}

.researchList {
    display: none;
    margin-left: 10%;
}

.research > .active ~ .researchList {
    display: block;
}

.carml > .active {
    border-bottom: 1px solid #333;
}

.projects {
    position: sticky;
    top: 369px;
    align-self: flex-start;
    grid-row: 4;
    font-size: x-large;
}

.projects > .active {
    animation: enlarge 0.20s forwards;
}

.projectsList {
    display: none;
    margin-left: 10%;
}

.projects > .active ~ .projectsList {
    display: block;
}

.savetrees > .active {
    border-bottom: 1px solid #333;
}

.atm > .active {
    border-bottom: 1px solid #333;
}

.dijkstra > .active {
    border-bottom: 1px solid #333;
}

.eagle > .active {
    border-bottom: 1px solid #333;
}

@keyframes enlarge {
    from {
        font-size: x-large;
        color: black;
    }
    to {
        font-size: 36px;
        color: #2196F3;
    }
}

.main > span {
    font-family: 'Alata', sans-serif;
}