.main {
    display: grid;
    grid-template-columns: 16.66% 83.33%;
    grid-gap: 10px;
    padding: 10px;
    grid-auto-flow: row;
    width: 80%;
    margin: 0 auto;
}

.main a {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    background-image: linear-gradient(
    	to right,
	    dodgerblue,
	    deepskyblue 50%,
	    black 50%);
	    background-size: 200% 100%;
	    background-position: 100%;
}

span a:hover {
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
}

.projectsList div {
    margin-bottom: 10%;
}

.about {
    position: sticky;
    top: 180px;
    align-self: flex-start;
    grid-row: 1;
    font-size: x-large;
}

.publications {
    position: sticky;
    top: 243px;
    align-self: flex-start;
    grid-row: 2;
    font-size: x-large;
}

.publications > .inactive {
    animation: shrink 0.20s forwards;
}

.publicationList {
    margin-left: 10%;
}

.research {
    position: sticky;
    align-self: flex-start;
    grid-row: 3;
    font-size: x-large;
}

.researchup {
    animation: researchup 0.20s forwards;
}

.researchdown {
    animation: researchdown 0.20s forwards;
}

.researchList {
    margin-left: 10%;
}

.activeMain {
    animation: enlarge 0.20s forwards;
}

.activeSub {
    border-left: 2px solid dodgerblue;
    padding-left: 2px;
    margin-left: -4px;
}

.inactive {
    animation: shrink 0.20s forwards;
}

.projects {
    position: sticky;
    align-self: flex-start;
    grid-row: 4;
    font-size: x-large;
}

.projectsList {
    margin-left: 10%;
}

.subheader {
    font-size: 12pt;
    margin-top: 8pt;
}

@keyframes enlarge {
    from {
        font-size: x-large;
        /* color: black; */
    }
    to {
        font-size: 36px;
        transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
        background-position: 0%;
    }
}

@keyframes shrink {
    from {
        font-size: 36px;
    }
    to {
        font-size: x-large;
        color: black;
    }
}

.main > span {
    font-family: 'Alata', sans-serif;
}
